{% extends "layout.html" %}
{% block title %} Index {% endblock %}
{% block body %}
<div class="card border-primary">
  <div class="card-header"><h2>Grades</h2></div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">User</th>
          <th scope="col">Grade</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }} / 5.0</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
